
.box
{
	padding: 10px;
	width: 280px;
}

.box ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.box ul li
{
	margin: 0px 2px 0px 0px;
	padding: 0px;
	width: 240px;
	height: 35px;
	display: block;
	border-radius: 0px;
	box-shadow: #000 0px 0px 1px;
	background-color: #fff;
}

.box ul li:hover ul
{
	display: block;
	background:#ddd;
}

.box ul li a
{
	text-align: center;
	width: 240px;
	height: 37px;
	line-height: 35px;
	display: block;
	text-decoration: none;
}

.box ul li ul
{
	display: none;
	position: relative;
	top: -37px;
	left: 240px;
	z-index:200;
}

.box ul li ul li
{
	padding: 0px;
	background-color: #fff;
}

.box ul li ul li:hover
{
	background: #E8E5AD;
}

.box ul li ul li:hover ul
{
	background: #fff;
	visibility: visible;
}

.box ul li ul li ul
{
	visibility: hidden;
	position: relative;
	top: -37px;
	left: 241px;
}

.box ul li ul li ul li
{
	background: #fff;
}

.box ul li ul li ul li:hover
{
	background: #E8E5AD;
}

.thirdh
{
	background-color: #fff;
}
.thirdh:hover{
	background: #E8E5AD;
}